Binaries
Content
DerivedDataCache
Dist
Intermediate
Saved
.DS_Store
.vs
.vscode
*.sln
*.sdf
*.suo
*.opensdf
*.opendb
*.db
!Plugins/**/Content
Build
Plugins/ConfigReader/Source/ConfigReader/Generated
node_modules
*.code-workspace
*.xcworkspace
